.HeroSection{
    display: flex;
    justify-content: space-between;
}
.Text{
   width:calc(100% / 2 - 40px);
   padding: 2rem;
}
.image{
    width:calc(100% / 2 - 40px);
}
.red{
    color: rgb(244, 84, 124);

}
.icons{
    display: flex;

}
.icons img{
  margin: 20px;
  width: 20px;
  height: 20px;
}
.Twitter{
    margin: 10px;
    width: calc(100% / 3 - 20px);
    gap: 20px;
    display: flex;
    background-color: #47ACDF;
    color: white;
}
.LinkedIn{
    margin: 10px;
    width: calc(100% / 3 - 20px);
    gap: 20px;
    display: flex;
    background-color: #1275B1 ;
    color: white;
}
.Vector{
    margin: 10px;
    width: calc(100% / 3 - 20px);
    gap: 20px;
    display: flex;
    background-color: black;
    color: white;
}
